<a href="https://colab.research.google.com/github/0xs1d/pwskills/blob/main/datatypes_structures_assignment_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types and Structures — Assignment Solutions

This notebook contains theory answers and runnable Python solutions for the assignment questions.

**Date:** 2025-09-13

## Theory / Short Answers

**1. What are data structures, and why are they important?**  
Data structures organize and store data efficiently for processing. They are important because they optimize time and memory, make data retrieval easier, and help implement complex algorithms.

**2. Difference between mutable and immutable data types with examples.**  
- Mutable: Can be changed after creation (e.g., lists, dictionaries).  
- Immutable: Cannot be changed after creation (e.g., strings, tuples).

**3. Main differences between lists and tuples in Python.**  
- Lists: Mutable, slower, defined with `[]`.  
- Tuples: Immutable, faster, defined with `()`.

**4. How dictionaries store data.**  
Dictionaries store data as key–value pairs using hash tables internally for fast lookup.

**5. Why use a set instead of a list.**  
Sets automatically remove duplicates and allow fast membership testing.

**6. What is a string in Python, and how is it different from a list.**  
A string is an immutable sequence of characters. A list is mutable and can hold mixed types.

**7. How do tuples ensure data integrity.**  
Since tuples are immutable, their values cannot be accidentally changed, ensuring data integrity.

**8. What is a hash table, and how does it relate to dictionaries in Python.**  
A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables.

**9. Can lists contain different data types?**  
Yes, lists can contain integers, strings, floats, objects, or even other lists.

**10. Why are strings immutable in Python.**  
Because each modification would require creating a new string object, which simplifies memory management and improves performance.

**11. Advantages of dictionaries over lists.**  
Fast lookup by keys, flexible key types, and natural representation of mappings.

**12. Scenario where a tuple is preferable over a list.**  
When storing fixed configuration data that must not change (e.g., GPS coordinates).

**13. How sets handle duplicate values.**  
Sets automatically ignore duplicate entries.

**14. How does the “in” keyword work differently for lists and dictionaries.**  
- In lists: checks if a value exists in the sequence.  
- In dictionaries: checks if a key exists.

**15. Can you modify the elements of a tuple?**  
No, because tuples are immutable. You can only create a new tuple.

**16. What is a nested dictionary? Example.**  
A dictionary inside another dictionary.  
```python
students = {"John": {"age": 20, "grade": "A"}}
```

**17. Time complexity of accessing elements in a dictionary.**  
Average case: O(1). Worst case: O(n).

**18. Situations where lists are preferred over dictionaries.**  
When order matters or when you only need sequential access.

**19. Why dictionaries are unordered, and effect on retrieval.**  
They use hash tables, so order is not guaranteed (though Python 3.7+ preserves insertion order). Retrieval is by key, not position.

**20. Difference between list and dictionary in terms of retrieval.**  
- List: access by index.  
- Dictionary: access by key.

## Practical Questions — Solutions

### 1. Create a string with your name and print it

In [1]:
name = 'Alice'
print(name)

Alice

### 2. Find length of 'Hello World'

In [2]:
s = 'Hello World'
print(len(s))

11

### 3. Slice first 3 characters from 'Python Programming'

In [3]:
s = 'Python Programming'
print(s[:3])

Pyt

### 4. Convert 'hello' to uppercase

In [4]:
print('hello'.upper())

HELLO

### 5. Replace 'apple' with 'orange' in 'I like apple'

In [5]:
s = 'I like apple'
print(s.replace('apple', 'orange'))

I like orange

### 6. Create a list with numbers 1 to 5 and print it

In [6]:
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

### 7. Append 10 to [1,2,3,4]

In [7]:
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

### 8. Remove 3 from [1,2,3,4,5]

In [8]:
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

### 9. Access 2nd element in ['a','b','c','d']

In [9]:
lst = ['a','b','c','d']
print(lst[1])

b

### 10. Reverse [10,20,30,40,50]

In [10]:
lst = [10,20,30,40,50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

### 11. Create tuple (100,200,300)

In [11]:
t = (100,200,300)
print(t)

(100, 200, 300)

### 12. Access second-to-last element of ('red','green','blue','yellow')

In [12]:
t = ('red','green','blue','yellow')
print(t[-2])

blue

### 13. Find min in (10,20,5,15)

In [13]:
t = (10,20,5,15)
print(min(t))

5

### 14. Find index of 'cat' in ('dog','cat','rabbit')

In [14]:
t = ('dog','cat','rabbit')
print(t.index('cat'))

1

### 15. Create tuple of fruits and check 'kiwi'

In [15]:
fruits = ('apple','banana','cherry')
print('kiwi' in fruits)

False

### 16. Create set {'a','b','c'}

In [16]:
s = {'a','b','c'}
print(s)

{'a', 'b', 'c'}

### 17. Clear all elements from {1,2,3,4,5}

In [17]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

### 18. Remove 4 from {1,2,3,4}

In [18]:
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

### 19. Union of {1,2,3} and {3,4,5}

In [19]:
a = {1,2,3}
b = {3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

### 20. Intersection of {1,2,3} and {2,3,4}

In [20]:
a = {1,2,3}
b = {2,3,4}
print(a & b)

{2, 3}

### 21. Create dictionary with keys name, age, city

In [21]:
d = {'name':'Alice','age':25,'city':'Paris'}
print(d)

{'name': 'Alice', 'age': 25, 'city': 'Paris'}

### 22. Add key 'country':'USA'

In [22]:
d = {'name':'John','age':25}
d['country']='USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

### 23. Access value of key 'name'

In [23]:
d = {'name':'Alice','age':30}
print(d['name'])

Alice

### 24. Remove key 'age'

In [24]:
d = {'name':'Bob','age':22,'city':'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

### 25. Check if 'city' key exists

In [25]:
d = {'name':'Alice','city':'Paris'}
print('city' in d)

True

### 26. Create list, tuple, dictionary and print

In [26]:
lst = [1,2,3]
tup = (4,5,6)
d = {'a':1,'b':2}
print(lst, tup, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

### 27. Random list of 5 numbers 1-100, sorted

In [27]:
import random
lst = random.sample(range(1,101),5)
lst.sort()
print(lst)

[24, 27, 35, 53, 76]

### 28. List with strings, print element at index 3

In [28]:
lst = ['x','y','z','w','v']
print(lst[3])

w

### 29. Combine two dictionaries

In [29]:
d1 = {'a':1,'b':2}
d2 = {'c':3,'d':4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 30. Convert list of strings to set

In [30]:
lst = ['a','b','c','a']
print(set(lst))

{'a', 'b', 'c'}